out
dist
node_modules
.vscode-test/
*.vsix
package-lock.json
typings/LGD.FileParser.log
docs/__pycache__/
resources/media/details
resources/media/editor
resources/media/libraries
resources/media/modules

containers.json
premake_fields.json