body.vscode-light {
    color: var(--vscode-editor-foreground);
}

body.vscode-dark {
    color: var(--vscode-editor-foreground);
}

body.vscode-high-contrast {
    color: var(--vscode-editor-foreground);
}

body {
    font-family: var(--vscode-editor-font-family);
}

#icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#icons .icon {
    width: 140px;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#icons .icon .codicon {
    font-size: 32px;
    padding: 16px;
}